<!DOCTYPE html>
<html>
<head>
    <title>HTML File Upload</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }

        .container {
            max-width: 500px;
            margin: 0 auto;
        }

        h1 {
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
        }

        input[type="file"] {
            margin-bottom: 10px;
        }

        input[type="submit"] {
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
        }

        /* Media Queries */
        @media screen and (max-width: 600px) {
            .container {
                max-width: 100%;
                padding: 0 20px;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Upload the saved Page.</h1>
        <form action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="htmlFile">
            <input type="submit" value="Upload">
        </form>
    </div>
</body>
</html>
